<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
	<wicket:panel>
	
		<table>
			<th>Nazwa</th>
			<th>Kolor</th>
			<th>Cena ($)</th>
			<th>Użycie (%)</th>
			<th>Rarity</th>
			<!--<th></th>-->
			<tr wicket:id="cardList">
					<td class='gatherer' wicket:id="name">1/1/2004</td>
					<td wicket:id="color">WHITE</td>
					<td wicket:id="price">1.34</td>
					<td wicket:id="use">100</td>
					<td wicket:id="rarity">COMMON</td>
					<td>
						<form wicket:id="addCardToMyCube">
							<input type="submit" value="Submit" id="formsubmit"/>
						</form>
					</td>
			</tr>
		</table>
	
	</wicket:panel>
</body>
</html>