<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
	<wicket:head>
		<title>Item Directory v0.1</title>
		<style type="text/css">
			.ui-autocomplete {
				max-height: 200px;
				overflow-y: auto;
				overflow-x: hidden;
				padding-right: 20px;
			}	
		</style>
    </wicket:head>
</head>
<body>
	<wicket:extend>
		<h1 wicket:id="helloLabel"></h1>
		<span wicket:id="currentTime"></span>
		<br/>
		<br/>
		Number of user in database: <span wicket:id="numberOfUsers"/> 
		<br/>

		<a href="#" wicket:id="fillVersionPrices">Nowe ceny</a><br/>
		<a href="#" wicket:id="goToCubeNeeds">Cubowe potrzeby</a><br/>
		<a href="#" wicket:id="getCardUseInCube">Ładuj Wacławie, ładuj!!</a><br/>
		<a href="#" wicket:id="getSets">Load sets to database</a><br/>
		<a href="#" wicket:id="fillMinimalPricesForCards">Podatek!!</a><br/><br/><br/>
		
		<wicket:fragment wicket:id="cardList">Panel z lista</wicket:fragment>
	</wicket:extend>
</body>
</html>